@model TrainingDiary.Models.ViewModels.CreateTrainingViewModel
@{
    ViewData["Title"] = "CreateTraining";
}

<h1>CreateTraining</h1>


@foreach (var exercise in Model.ExerciseViewModels)
{
    <div class=" row">
        <p>@exercise.Name @exercise.Category.Name</p>
  
    </div>

}

