@model TrainingDiary.Models.ViewModels.CreateTrainingViewModel
@{
    ViewData["Title"] = "CreateTraining";
}

<h3>CreateTraining</h3>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Add</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exercise in Model.ExerciseViewModels)
        {
        <tr>
            <td>@exercise.Category.Name</td>
            <td>@exercise.Name</td>
            <td><button class="btn btn-primary">+</button></td>
            <td><button class="btn btn-dark">-</button></td>
        </tr>
        }
    </tbody>
</table>

