@model TrainingDiary.Models.ViewModels.AddExerciseViewModel
@{
    ViewData["Title"] = "Add Exercise";
}


<div class="container">
    <form method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" value="" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Categories"></label>
            <select asp-items="@Model.Categories" asp-for="Category.Id" class="form-control">
                <option value="Select"></option>
            </select>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>
</div>
